.wrapper {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error {
    color: darkred;
    width: 600px;
    text-align: center;
}

.error_back_home {
    color: rgb(38, 78, 151);
    text-decoration: underline;
}